.awNotices{
  position:relative;
  color:white;
  font:400 12px Arial;
}

.awNotices div{
  padding:8px 25px 8px 10px;
  position:absolute;
  left:0;right:0;
  opacity:0;
  color:inherit;
  text-decoration:none;
  visibility:hidden;
  transition:opacity .6s;
  border-radius:3px;
  text-shadow:0 0 3px rgba(1,1,1,.3);
  line-height:150%;
}

.awNotices div[notice-color="orange"]{background-color:#ff9800}
.awNotices div[notice-color="red"]{background-color:#e51c23}
.awNotices div[notice-color="blue"]{background-color:#3f51b5}
.awNotices div[notice-color="green"]{background-color:#8bc34a}
.awNotices div[notice-color="dark"]{background-color:#414141}

.awNotices div.active{
  opacity:1;
  visibility:visible;
}


.awNotices div i.fa{
  padding-right:8px;
  margin-right:5px;
  border-right:1px solid rgba(255,255,255,.2);
}

.awNotices span.controller{
  position:absolute;
  cursor:pointer;
  background:transparent;
  right: 0;
  padding:8px 10px;
  line-height:150%;
}