.oddBackground {
    background-color: #F8F8F8;
    border-top: 1px solid #DDDDDD;
	height:40px;
}

.evenBackground{
  height:40px;	
}
ul.oddBackgroundUl li:nth-child(2n+1) {
    background-color: #F8F8F8;
    
}
ul.oddBackgroundUl li > a > span {
    color: #000000;
    font-family: Arial;
    font-weight: normal;
}
.paddLetf15 {
    padding-left: 15px !important;
}

.autocompleter-quotationemail-loader{
    display:none;
}


.talkbubble { 
        position: relative; 
        background:#D50606;
        color:white;
        font-weight:bold;
} 
.talkbubble:before { 
        content:""; 
        position: absolute; 
        right: 100%; 
        top: 23px; 
        width: 0; 
        height: 0; 
        border-top: 10px solid transparent; 
        border-right: 15px solid #D50606; 
        border-bottom: 10px solid transparent; 
        right: 97%;
}
.talkbubble .talkbubble-content{
    padding:5px;
}
.talkbubble:hover{
    background:#D50606;
}
/*
.bubble-top {
    position: relative;
    width: 103px;
    height: 55px;
    padding: 0px;
    background: -webkit-linear-gradient(90deg, #8F0808 5%, #F70505 100%);
    background: -moz-linear-gradient(90deg, #8F0808 5%, #F70505 100%);
    background: -ms-linear-gradient(90deg, #8F0808 5%, #F70505 100%);
    background: linear-gradient(180deg, #F70505 5%, #8F0808 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F70505', endColorstr='#8F0808');
    -webkit-border-radius: 75px;
    -moz-border-radius: 75px;
    border-radius: 75px;
    -webkit-box-shadow: 2px 2px 10px 0px #616161;
    -moz-box-shadow: 2px 2px 10px 0px #616161;
    box-shadow: 2px 2px 10px 0px #616161;
 }

  .bubble-top:after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 40px;
    border-style: solid;
    border-width: 15px 13px 0;
    border-color: #8f0808 transparent;
    display: block;
    width: 0;
    z-index: 1;
 } 
 #F70505
 */
 
 .bubble-top {
    position: relative;
    width: 145px;
    height: 55px;
    padding: 0px;
    background: #D50606;
    background: #D50606;
    background: #D50606;
    background: #D50606;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D50606', endColorstr='#D50606');
    -webkit-border-radius: 75px;
    -moz-border-radius: 75px;
     border-radius: 75px;
    -webkit-box-shadow: 2px 2px 10px 0px #616161;
    -moz-box-shadow: 2px 2px 10px 0px #616161;
     box-shadow: 2px 2px 10px 0px #616161;
     font-weight:bold;
 }

  .bubble-top:after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 61px;
    border-style: solid;
    border-width: 15px 13px 0;
    border-color: #D50606 transparent;
    display: block;
    width: 0;
    z-index: 1;
  }
 
  .bubble-top:hover{
    background:#D50606;
   }

  .bubble-right {
    position: relative;
    width: 139px;
    height: 51px;
    padding: 0px;
    background: #D50606;
    -webkit-border-radius: 44px;
    -moz-border-radius: 44px;
    border-radius: 44px;
    -webkit-box-shadow: 2px 2px 10px 0px #616161;
    -moz-box-shadow: 2px 2px 10px 0px #616161;
    box-shadow: 2px 2px 10px 0px #616161;
    font-weight:bold;
}

  .bubble-right:after {
    content: "";
    position: absolute;
    top: 14px;
    right: -12;
    border-style: solid;
    border-width: 10px 0 10px 12px;
    border-color: transparent #D50606;
    display: block;
    width: 0;
    z-index: 1;
}


.bubble-right:hover{
    background:#DF4D4D;
}

.bubble-bottom {
    position: relative;
    width: 170px;
    height: 55px;
    padding: 0px;
    background: #D50606;
    background:  #D50606;
    background: #D50606;
    background:  #D50606;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D50606', endColorstr='#D50606');
    -webkit-border-radius: 75px;
    -moz-border-radius: 75px;
    border-radius: 75px;
    -webkit-box-shadow: 2px 2px 10px 0px #616161;
    -moz-box-shadow: 2px 2px 10px 0px #616161;
    box-shadow: 2px 2px 10px 0px #616161;
    font-weight:bold;
}

  .bubble-bottom:after {
    content: "";
    position: absolute;
    top: -15px;
    left: 61px;
    border-style: solid;
    border-width: 0 10px 15px;
    border-color: #D50606 transparent;
    display: block;
    width: 0;
    z-index: 1;
    font-weight:bold;
}
.bubble-bottom:hover{
    background:#D50606;
}


 /* Rounded avatars */
.avatar {
    float: left;
    margin-top: 1em;
    margin-right: 1em;
    position: relative;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
     border-radius: 50%;
	 border: 1px solid;

   /* -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);*/
}

.avatartext{
    position:relative;
    top: 12px;
    font-size: 13px;
    font-weight: bold;
    color: #4289BC;
}


.popup-img:hover {
    color: #D40000;
    -webkit-transition: color 1s;
    -moz-transition:    color 1s;
    -ms-transition:     color 1s;
    -o-transition:      color 1s;
    transition:         color 1s;
}

.zoomImgAgent{
    cursor:zoom-in;
    cursor:-webkit-zoom-in;
    cursor:-moz-zoom-in;
    width:341px;
}

.zoomblur {
   text-shadow: 0px 0px 10px #000000;
}
.weight-on{
    padding: 2px 6px;
}
.weight_activate{
    color: brown;
    font-size: 22px;
}
.weight_deactivate{
    color: darkgray;
    font-size: 22px;
}
.popover{
    max-width:260px;
}
.popover-title,.popover-content  {
    padding: 5px 0 !important;
}
.popover > .arrow {
    display: none;
}
.popover.top {
    margin-top: -10px !important;
}
.p-t-b-sm{
    margin: 10px;
}
.headRow,.headRow:hover{
    background-color:#4182cc !important;
    font-size: 20px;
    color:white;
}
.closed-pstyle,.visit-closed-pstyle{
    opacity: 0.5;
    background: #e9e9e9 ;
    border-left: 10px solid #666;
}
.closed-pstyle::after{
    opacity: 1;
    content: ' OUTLET IS PERMANENTLY CLOSED ';
    text-transform:  uppercase;
    text-align: center;
    z-index: 9;
    position: absolute;
    right: 10%;
    bottom: 0;
    color: #212121;
    padding: 3px 2px;
    font-size: 12px;
    font-weight: bolder;
}.visit-closed-pstyle::after{
    opacity: 1;
    content: ' OUTLET WAS CLOSED DURING VISIT ';
    text-transform:  uppercase;
    text-align: center;
    z-index: 9;
    position: absolute;
    right: 10%;
    bottom: 0;
    color: #212121;
    padding: 3px 2px;
    font-size: 12px;
    font-weight: bolder;
}
.closed-lg::after{
    opacity: 1;
    content: ' OUTLET IS PERMANENTLY CLOSED ';
    text-transform:  uppercase;
    text-align: center;
    z-index: 9;
    position: absolute;
    left: 5%;
    bottom: -20%;
    color: #666;
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    transform: rotate(-30deg);
    padding: 20px 10px;
    font-size: 32px;
    border: 5px solid #666;
    border-radius: 5px;
    font-weight: 600;
}


@keyframes blink {
    0% { color: red }
    35% { color:#fff;}
    50% { color:red;}
    100% { color: red; }
}
@-webkit-keyframes blink {
    0% { color: red }
    35% { color: #fff;}
    50% { color:red;}
    100% { color: red; }
}
.blink {
    -webkit-animation: blink 0.8s linear infinite;
    -moz-animation: blink 0.8s linear infinite;
    -ms-animation: blink 0.8s linear infinite;
    -o-animation: blink 0.8s linear infinite;
    animation: blink 0.8s linear infinite;
}
@keyframes blink-success {
    0% { color:#fff;}
    40% { color: forestgreen; }
    100% { color: forestgreen; }
}
@-webkit-keyframes blink-success {
    0% { color: #fff;}
    40% { color: forestgreen; }
    100% { color: forestgreen; }
}
.blink-success {
    -webkit-animation: blink-success 0.8s linear infinite;
    -moz-animation: blink-success 0.8s linear infinite;
    -ms-animation: blink-success 0.8s linear infinite;
    -o-animation: blink-success 0.8s linear infinite;
    animation: blink-success 0.8s linear infinite;
}
.good-image{
    position: relative;
}

@-webkit-keyframes animate-bg {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -80px 0;
    }
}
@keyframes animate-bg {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -80px 0;
    }
}
.gd-blue{
    background: #00b7ea;
    background: -moz-linear-gradient(top,  #00b7ea 0%, #009ec3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7ea), color-stop(100%,#009ec3));
    background: -webkit-linear-gradient(top,  #00b7ea 0%,#009ec3 100%);
    background: -o-linear-gradient(top,  #00b7ea 0%,#009ec3 100%);
    background: -ms-linear-gradient(top,  #00b7ea 0%,#009ec3 100%);
    background: linear-gradient(to bottom,  #00b7ea 0%,#009ec3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 );

}


@keyframes samablink {
    0% { color: #16A0DB }
    35% { color:#fff;}
    50% { color:#16A0DB;}
    100% { color: #16A0DB; }
}
@-webkit-keyframes samablink {
    0% { color: #16A0DB }
    35% { color: #fff;}
    50% { color:#16A0DB;}
    100% { color: #16A0DB; }
}
.samablink {
    -webkit-animation: samablink 0.7s linear infinite;
    -moz-animation: samablink 0.7s linear infinite;
    -ms-animation: samablink 0.7s linear infinite;
    -o-animation: samablink 0.7s linear infinite;
    animation: samablink 0.7s linear infinite;
}


@keyframes samaNewDBblink {
    0% { color: #4183c4 }
    35% { color:#fff;}
    50% { color:#4183c4;}
    100% { color: #4183c4; }
}
@-webkit-keyframes samaNewDBblink {
    0% { color: #4183c4 }
    35% { color: #fff;}
    50% { color:#4183c4;}
    100% { color: #4183c4; }
}
.samaNewDBblink {
    -webkit-animation: samaNewDBblink 0.8s linear infinite;
    -moz-animation: samaNewDBblink 0.8s linear infinite;
    -ms-animation: samaNewDBblink 0.8s linear infinite;
    -o-animation: samaNewDBblink 0.8s linear infinite;
    animation: samaNewDBblink 0.8s linear infinite;
}

.counter-nav {
    overflow: hidden;
}
.counter-nav li{
    display: inline;
    padding: 15px 5px;
    margin-right: 5px;
}
.counter-nav li:before {
     content: '»';
     margin-right: 0.3em;
 }
.counter-nav li:nth-child(8):before {
    display: block; content: '';
}

.photoproof-box{
    margin-right: 0.3em;
    display: inline;
}
.photoproof-box i{
    color: #024457;
    text-decoration: none !important;
}
.demographics-wrapper {
    left: 5px;
}

.demographics {
    position: absolute;
    bottom: 0;
}


.responstable {
    margin: 1em 0;
    width: 100%;
    overflow: hidden;
    background: #FFF;
    color: #024457;
    border-radius: 10px;
    border: 1px solid #167F92;
}
.responstable tr {
    border: 1px solid #D9E4E6;
}
.responstable tr:nth-child(odd) {
    background-color: #EAF3F3;
}
.responstable th {
    display: none;
    border: 1px solid #FFF;
    background-color: #167F92;
    color: #FFF;
    padding: 1em;
}
.responstable th:first-child {
    display: table-cell;
    text-align: center;
}
.responstable th:nth-child(2) {
    display: table-cell;
}
.responstable th:nth-child(2) span {
    display: none;
}
.responstable th:nth-child(2):after {
    content: attr(data-th);
}
@media (min-width: 480px) {
    .responstable th:nth-child(2) span {
        display: block;
    }
    .responstable th:nth-child(2):after {
        display: none;
    }
}
.responstable td {
    display: block;
    word-wrap: break-word;
    max-width: 7em;
}
.responstable td:first-child {
    display: table-cell;
    text-align: center;
    border-right: 1px solid #D9E4E6;
}
@media (min-width: 480px) {
    .responstable td {
        border: 1px solid #D9E4E6;
    }
}
.responstable th, .responstable td {
    text-align: left;
    margin: .5em 1em;
}
@media (min-width: 480px) {
    .responstable th, .responstable td {
        display: table-cell;
        padding: 1em;
    }
}