
      body {padding-bottom: 40px;}
      
     .sidebar-nav {padding: 9px 0;}
     .highcharts-container {
        height:100%;
        width:100%;
        position:absolute;
      }

    .fixed-bar-division{
        background-color: #F7F7F7;
        background-image: -moz-linear-gradient(center top , #C90F16, #C90F16);
        background-image: -webkit-linear-gradient(top, #C90F16, #C90F16);
        /*background-image: -moz-linear-gradient(center top , #E05656,#E05656);*/
        background-repeat: repeat-x;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        bottom: 0;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
        display: block;
        height: 30px;
        left: 0;
        padding-bottom: 0;
        padding-left: 1px;
        padding-right: 0;
        position: relative;
        text-align: center;
        top: -45px;
        width: 100%;
        z-index: 999;
       
    }
    
     #loading_screen_index {
            position: fixed;
            z-index: 12000;
            top: 0;
            left: 0;
            width: 100%;
            min-height: 100%;
            background-color: #333;
            background-position:center; 
            opacity: .5;
            filter: alpha(opacity=40);
            margin: 0;
            padding: 0;
            border: 0;
            background-repeat: no-repeat;
            margin-left: 0px;
            display: none;
     }
     
       .pdf-logo{
            height:70px;
            width:65px;
        }
        
        
        
        /**-----------------------------------------------------------------------**/
    /** Css created by walter st?phanie for http://www.inpixelitrust.fr/blog/ **/
    /** You may use it as long as you quote its origin and auther            **/
    
        body{font-family: Tahoma, Arial, Verdana; font-size:14px;}

        .clearfix:after {clear: both;  content: '';display: block; font-size: 0; line-height: 0; visibility: hidden;width: 0; height: 0; }  
        * html .clearfix,  
        *:first-child+html .clearfix {zoom: 1;}
        #back p{ text-align:right;}
        .example{margin-bottom:90px;}
        .content{ position:relative; z-index:999; margin-top:-5px; width:800px; margin-left:25px; background:#fff; border:1px solid #fff;}


        /*** Create the tabs **/
        #nav-tab ul li a{font-weight:bold;color:black;text-decoration: none;}
        #nav-tab{	width:800px; clear:both;}
        #nav-tab ul li{ display:inline; padding:0px;}
        #nav-tab ul li a:link, #nav ul li a:visited{display:block; float:left; padding: 0 0px 0 5px;
            border-width:10px 40px 10px 20px;
            -webkit-border-image: url('../public/img/blue_border.png') 10 50 20 20 stretch;
            -moz-border-image: url('../public/img/blue_border.png') 10 50 20 20 stretch;
            /*border-image: url('../public/img/blue_border.png') 10 50 20 20 stretch;*/
            margin-left:-15px;
        }
        
        #nav-tab ul li a:hover{color:#003;
            -webkit-border-image: url('../public/img/white_border.png') 10 50 20 20 stretch;
            -moz-border-image: url('../public/img/white_border.png') 10 50 20 20 stretch;
            /*border-image: url('../public/img/white_border.png') 10 50 20 20 stretch;*/
            text-decoration: none;
        }
        
        #nav-tab ul li a.active{color:#003;
            -webkit-border-image: url('../public/img/white_border.png') 10 50 20 20 stretch;
            -moz-border-image: url('../public/img/white_border.png') 10 50 20 20 stretch;
            /*border-image: url('../public/img/white_border.png') 10 50 20 20 stretch;*/
            text-decoration: none;
        }

        /*order the links !*/
        #nav-tab ul>li a {	position:relative;	z-index:99;}
        #nav-tab ul>li+li a{position:relative;	z-index:98;}
        #nav-tab ul>li+li+li a{	position:relative;	z-index:97;}
        #nav-tab ul>li+li+li+li a{	position:relative;	z-index:96;}
        
        /*** make old friend IE behave **/
        .ie #nav-tab ul{margin-left:-20px;}
        .ie #nav-tab ul li a:link,.ie #nav-tab ul li a:visited{	padding:10px;	background:#265e7f;	margin-left:5px;}
        .ie #nav-tab ul li a:hover{	background:#fff;}
        .ie #nav-tab ul li a.active{ background:#fff;}
        

        .label-important {
           background-color: #D40000;
        }
    