 /* .myButtonTour {
        	background-color:#44c767;
        	-moz-border-radius:28px;
        	-webkit-border-radius:28px;
        	border-radius:28px;
        	border:1px solid #18ab29;
        	display:inline-block;
        	cursor:pointer;
        	color:#ffffff;
        	font-family:arial;
        	font-size:17px;
        	padding:11px 10px;
        	text-decoration:none;
        	text-shadow:0px 1px 0px #2f6627;
        }
        .myButtonTour:hover {
        	background-color:#5cbf2a;
        }
        .myButtonTour:active {
        	position:relative;
        	top:1px;
        } */
       
	   .btn.myUserButton {
			-moz-box-shadow: 0px 1px 0px 0px #fff6af;
			-webkit-box-shadow: 0px 1px 0px 0px #fff6af;
			box-shadow: 0px 1px 0px 0px #fff6af;
			background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
			background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
			background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
			background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
			background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
			background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
			background-color:#ffec64;
			-moz-border-radius:3px;
			-webkit-border-radius:3px;
			border-radius:3px;
			/*border:1px solid #ffaa22;*/
			display:inline-block;
			cursor:pointer;
			color:#333333;
			height:15px;
			font-family:arial;
			font-size:14px;
			font-weight:bold;
			padding:3px 9px;
			text-decoration:none;
			text-shadow:0px 1px 0px #ffee66;
		}
		.btn.myUserButton:hover {
			background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
			background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
			background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
			background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
			background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
			background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
			background-color:#ffab23;
		}
		.btn.myUserButton:active {
			position:relative;
			top:1px;
		}

	   
       .startTourButton {
        	background-color:#007dc1;
        	-moz-border-radius:28px;
        	-webkit-border-radius:28px;
        	border-radius:28px;
        	border:1px solid #124d77;
        	display:inline-block;
        	cursor:pointer;
        	color:#ffffff;
        	font-family:arial;
        	font-size:14px;
        	padding:6px 13px;
        	text-decoration:none;
        	text-shadow:0px 1px 0px #154682;
        }
        
        .startTourButton:hover {
        	background-color:#0061a7;
        }
        
        .startTourButton:active {
        	position:relative;
        	top:1px;
        }
        
        
        .myButtonTour {
        	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
        	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
        	box-shadow:inset 0px 1px 0px 0px #ffffff;
        	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
        	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
        	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
        	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
        	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
        	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
        	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
        	background-color:#f9f9f9;
        	-moz-border-radius:6px;
        	-webkit-border-radius:6px;
        	border-radius:6px;
        	border:1px solid #dcdcdc;
        	display:inline-block;
        	cursor:pointer;
        	color:#666666;
        	font-family:arial;
        	font-size:15px;
        	font-weight:bold;
        	padding:12px 13px;
        	text-decoration:none;
        	text-shadow:0px 1px 0px #ffffff;
        }
        .myButtonTour:hover {
        	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
        	background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
        	background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
        	background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
        	background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
        	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
        	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
        	background-color:#e9e9e9;
        }
        
        .myButtonTour:active {
        	position:relative;
        	top:1px;
        }
        
        .endButton {
        	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
        	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
        	box-shadow:inset 0px 1px 0px 0px #f5978e;
        	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
        	background:-moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
        	background:-webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
        	background:-o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
        	background:-ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
        	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
        	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
        	background-color:#f24537;
        	-moz-border-radius:4px;
        	-webkit-border-radius:4px;
        	border-radius:4px;
        	border:1px solid #d02718;
        	display:inline-block;
        	cursor:pointer;
        	color:#ffffff;
        	font-family:arial;
        	font-size:15px;
        	font-weight:bold;
        	padding:8px 15px;
        	text-decoration:none;
        	text-shadow:0px 1px 0px #810e05;
        }
        .endButton:hover {
        	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
        	background:-moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
        	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
        	background:-o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
        	background:-ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
        	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
        	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
        	background-color:#c62d1f;
        }
        .endButton:active {
        	position:relative;
        	top:1px;
        }
        
        
     .myLangChange {
    	-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
    	-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
    	box-shadow:inset 0px 1px 0px 0px #54a3f7;
    	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
    	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
    	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
    	background-color:#007dc1;
    	-moz-border-radius:3px;
    	-webkit-border-radius:3px;
    	border-radius:3px;
    	border:1px solid #124d77;
    	display:inline-block;
    	cursor:pointer;
    	color:#ffffff;
    	font-family:arial;
    	font-size:10px;
    	font-weight:bold;
    	padding:1px 6px;
    	text-decoration:none;
    	text-shadow:0px 1px 0px #154682;
    }
    .myLangChange:hover {
        text-decoration:none;
    	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
    	background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    	background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    	background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    	background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
    	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
    
        text-color:white;
    }
    .myLangChange:active {
    	position:relative;
    	top:1px;
    }
    
  .totalResultButton {
    	background-color:#007dc1;
    	-moz-border-radius:28px;
    	-webkit-border-radius:28px;
    	border-radius:28px;
    	border:1px solid #124d77;
    	display:inline-block;
    	cursor:pointer;
    	color:#ffffff;
    	font-family:arial;
    	font-size:12px;
    	padding:4px 1px;
    	text-decoration:none;
    	text-shadow:0px 1px 0px #154682;
        width:47px;
    }
    
    .totalResultButton:hover {
    	background-color:#0061a7;
    }
    
    .totalResultButton:active {
    	position:relative;
    	top:1px;
    }
   
    .manRoundClass{                
        display:inline-block;
        margin: 10px;
        border-radius: 60px;    
        background-color:#4679BD;
        color:white;
        font-size: 1.0em;
        padding: 4px 9px;
        cursor: pointer    
    }  

   .ladiesRoundClass{                
        display:inline-block;
        margin: -8px;
        border-radius: 60px;    
        background-color:#E86794;
        color:white;
        font-size: 1.0em;
        padding: 4px 9px;  
        cursor: pointer  
    }
    
    .branchTransformationTitle{                
        display:inline-block;
        margin: 13px;
        border-radius: 5px;    
        background-color:#4679BD;
        color:white;
        font-size: 1.0em;
        padding: 14px 32px 11px 46px;
        cursor: pointer;
        width: 337px;  
        height: 20px;
        margin-left: 76px;
        font-size: 17px;
    }   
    
    
    .manColorRoundGreaterClass{                
        display:inline-block;
        margin: 10px;
        border-radius: 60px;    
        background-color:#6CC644;
        color:white;
        font-size: 1.0em;
        padding: 4px 9px;
        cursor: pointer    
    }  
     .manColorRoundMediumClass{                
        display:inline-block;
        margin: 10px;
        border-radius: 60px;    
        background-color:#ffe054;
        color:black;
        font-size: 1.0em;
        padding: 4px 9px;
        cursor: pointer    
    }  
    
     .manColorRoundSmallerClass{                
        display:inline-block;
        margin: 8px;
        border-radius: 60px;    
        background-color:#DC3333;
        color:white;
        font-size: 1.0em;
        padding: 4px 9px;
        cursor: pointer    
    }
    
     .ladiesRoundGreaterClass{                
        display:inline-block;
        margin: 8px;
        border-radius: 60px;    
        background-color:#6CC644;
        color:white;
        font-size: 1.0em;
        padding: 4px 9px;  
        cursor: pointer  
    }
    
     .ladiesRoundSmallerClass{                
        display:inline-block;
        margin: -8px;
        border-radius: 60px;    
        background-color:#DC3333;
        color:white;
        font-size: 1.0em;
        padding: 4px 9px;  
        cursor: pointer  
    }          
     
