.title_image_area {
    border-bottom-color: #AAAAAA;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: #222222;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 20px;
    min-height: 25px;
    width: 100%;
}