/* liScroll styles */

.tickercontainer { /* the outer div with the black border */
    margin: 0px 0px 0px 0px;
	padding: 0px 20px;
	width: 670px;
	height: 32px;
	display: block;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
/*	background-color: #f8f0db;*/
    background-color: transparent;
	font-size: 0.75em; 
    top:60px;
    overflow:hidden;
   
}
.tickercontainer .mask { /* that serves as a mask. so you get a sort of padding both left and right */
    position: relative;
    left: -6px;
    top: 0px;
    width: 100%;
    overflow: hidden;
}
ul.newsticker { /* that's your list */
position: relative;
left: -417px;
font: bold 10px Verdana;
list-style-type: none;
margin: 0;
padding: 0;
top:0px;

}
ul.newsticker li {
float: left; /* important: display inline gives incorrect results when you check for elem's width */
margin: 0;
padding: 0;
background: transparent;
 margin-top: 0px;
 height:29px;
}
ul.newsticker a {
white-space: nowrap;
padding: 0;
color: #001D54;
font: bold 10px Verdana;
margin: 0 50px 0 0;
text-decoration:none;
} 
ul.newsticker span {
margin: 0 5px 0 0;
} 