.title{
    background:white;
    color: #777;
    font-weight:normal;
    padding:5px 0 5px 0px;
    font-size:16px!important;
}
.nameTitle{
    color:#3D77BC;
    font-weight:bold;
    display:inline;
    width:150px;
    font-size:14px;
}
.mainBubbleClass{
    width:auto;
    height:auto;
    padding:10px;
    background:white;
    position:relative;
    margin:2px;
    border-radius: 8px 8px 8px 8px;
    font-size:15px;
}
.mainBubbleClass_ATM{
    width:420px;
    height:auto;
    padding:10px;
    background:white;
    position:relative;
    margin:2px;
    border-radius: 8px 8px 8px 8px;
    font-size:15px;
}
#loading_screen {
    position: absolute;
    z-index: 12000;
    top: 0;
    width: 100%;
    min-height: 100%;
    background-color: #333;
    background-position:center; 
    opacity: .5;
    filter: alpha(opacity=40);
    margin: 0;
    padding: 0;
    border: 0;
    background-repeat: no-repeat;
    margin-left: 0px;
}