.default {
	background: #FFFFFF;
	/* border: 1px solid green;	
	border-radius: 5px;	*/
	overflow: hidden;
	box-shadow: 0 0 5px #333;
    width: 50%;
    margin-top:28px;				
}
/* .default div {
	background-color: #88B146;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#88B146), to(#008000)); 
	background: -webkit-linear-gradient(top, #88B146, #008000); 
	background: -moz-linear-gradient(top, #88B146,#008000); 
	background: -ms-linear-gradient(top, #88B146, #008000); 
	background: -o-linear-gradient(top, #88B146, #008000);
} */

.default div {
	background-color: #BD2C00;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#BD2C00), to(#E15A5A)); 
	background: -webkit-linear-gradient(top, #BD2C00, #E15A5A); 
	background: -moz-linear-gradient(top, #BD2C00,#E15A5A); 
	background: -ms-linear-gradient(top, #BD2C00, #E15A5A); 
	background: -o-linear-gradient(top, #BD2C00, #E15A5A);
}

.defaultgreen div {
	background-color: #008000;
}
