#scrollbar1 { width: 100%; margin: 0px; padding:0px;line-height:10px; max-height:310px;}
#scrollbar1 .viewport { width: 93%;overflow: hidden; position: relative;min-height:310px;height:auto;}
#scrollbar1 .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; width:90%}
#scrollbar1 .scrollbar{ background: transparent url(../img/bg-scrollbar-track-y.png) no-repeat 0 0; position: relative; background-position: 0 0; float: right; width: 15px; }
#scrollbar1 .track { background: transparent url(../img/bg-scrollbar-trackend-y.png) no-repeat 0 100%; height: 100%; width:13px; position: relative; padding: 0 1px; }
#scrollbar1 .thumb { background: transparent url(../img/bg-scrollbar-thumb-y.png) no-repeat 50% 100%; height: 20px; width: 25px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
#scrollbar1 .thumb .end { background: transparent url(../img/bg-scrollbar-thumb-y.png) no-repeat 50% 0; overflow: hidden; height: 5px; width: 25px;  margin-top:0px;}
#scrollbar1 .disable { display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }

#comment_container_scrollbar { width: 370px; clear: both; margin: 20px 0 10px; }
#comment_container_scrollbar .viewport { width: 350px; height: 280px; overflow: hidden; position: relative; }
#comment_container_scrollbar .overview { list-style: none; position: absolute; left: 0; top: 0; }
#comment_container_scrollbar .thumb .end,
#comment_container_scrollbar .scrollbar {background: transparent url(../img/bg-scrollbar-track-y.png) no-repeat 0 0; position: relative; float: right; width: 15px; }
#comment_container_scrollbar .track { background: transparent url(../img/bg-scrollbar-trackend-y.png) no-repeat 0 100%; background-color: #D8EEFD; height: 100%; width:13px; position: relative; padding: 0 1px; }
#comment_container_scrollbar .thumb { background: transparent url(../img/bg-scrollbar-thumb-y.png) no-repeat 50% 100%;height: 20px; width: 13px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
#comment_container_scrollbar .thumb .end { background: transparent url(../img/bg-scrollbar-thumb-y.png) no-repeat 50% 0;overflow: hidden; height: 5px; width: 13px; }
#comment_container_scrollbar .disable{ display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }

#comment_container_scrollbar_small { width: 370px; clear: both; margin: 20px 0 10px; }
#comment_container_scrollbar_small .viewport { width: 350px; height: 200px; overflow: hidden; position: relative; }
#comment_container_scrollbar_small .overview { list-style: none; position: absolute; left: 0; top: 0; }
#comment_container_scrollbar_small .thumb .end1,
#comment_container_scrollbar_small .scrollbar {background: transparent url(../img/bg-scrollbar-track-y.png) no-repeat 0 0; position: relative; float: right; width: 15px; }
#comment_container_scrollbar_small .track { background: transparent url(../img/bg-scrollbar-trackend-y.png) no-repeat 0 100%; background-color: #D8EEFD; height: 100%; width:13px; position: relative; padding: 0 1px; }
#comment_container_scrollbar_small .thumb { background: transparent url(../img/bg-scrollbar-thumb-y.png) no-repeat 50% 100%;height: 20px; width: 13px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
#comment_container_scrollbar_small .thumb .end { background: transparent url(../img/bg-scrollbar-thumb-y.png) no-repeat 50% 0;overflow: hidden; height: 5px; width: 13px; }
#comment_container_scrollbar_small .disable{ display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }


#scrollbar2 { width: 100%; margin: 0px; padding:0px;line-height:10px; max-height:540px;}
#scrollbar2 .viewport { width: 93%;overflow: hidden; position: relative;min-height:530px;height:auto;}
#scrollbar2 .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; width:100%}
#scrollbar2 .scrollbar{ background: transparent url(../img/bg-scrollbar-track-y.png) no-repeat 0 0; position: relative; background-position: 0 0; float: right; width: 15px; }
#scrollbar2 .track { background: transparent url(../img/bg-scrollbar-trackend-y.png) no-repeat 0 100%; height: 100%; width:13px; position: relative; padding: 0 1px; }
#scrollbar2 .thumb { background: transparent url(../img/bg-scrollbar-thumb-y.png) no-repeat 50% 100%; height: 20px; width: 25px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
#scrollbar2 .thumb .end { background: transparent url(../img/bg-scrollbar-thumb-y.png) no-repeat 50% 0; overflow: hidden; height: 5px; width: 25px; margin-top:0px;}
#scrollbar2.disable { display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }

#scrollbar_branch { width: 100%; margin: 0px; padding:0px;line-height:10px; max-height:540px;}
#scrollbar_branch .viewport { width: 93%;overflow: hidden; position: relative;min-height:530px;height:auto;}
#scrollbar_branch .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; width:100%}
#scrollbar_branch .scrollbar{ background: transparent url(../img/bg-scrollbar-track-y.png) no-repeat 0 0; position: relative; background-position: 0 0; float: right; width: 15px; }
#scrollbar_branch .track { background: transparent url(../img/bg-scrollbar-trackend-y.png) no-repeat 0 100%; height: 100%; width:13px; position: relative; padding: 0 1px; }
#scrollbar_branch .thumb { background: transparent url(../img/bg-scrollbar-thumb-y.png) no-repeat 50% 100%; height: 20px; width: 25px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
#scrollbar_branch .thumb .end { background: transparent url(../img/bg-scrollbar-thumb-y.png) no-repeat 50% 0; overflow: hidden; height: 5px; width: 25px; margin-top:0px;}
#scrollbar_branch.disable { display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }


#scrollbar_atm { width: 100%; margin: 0px; padding:0px;line-height:10px; max-height:540px;}
#scrollbar_atm .viewport { width: 93%;overflow: hidden; position: relative;min-height:530px;height:auto;}
#scrollbar_atm .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; width:100%}
#scrollbar_atm .scrollbar{ background: transparent url(../img/bg-scrollbar-track-y.png) no-repeat 0 0; position: relative; background-position: 0 0; float: right; width: 15px; }
#scrollbar_atm .track { background: transparent url(../img/bg-scrollbar-trackend-y.png) no-repeat 0 100%; height: 100%; width:13px; position: relative; padding: 0 1px; }
#scrollbar_atm .thumb { background: transparent url(../img/bg-scrollbar-thumb-y.png) no-repeat 50% 100%; height: 20px; width: 25px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
#scrollbar_atm .thumb .end { background: transparent url(../img/bg-scrollbar-thumb-y.png) no-repeat 50% 0; overflow: hidden; height: 5px; width: 25px; margin-top:0px;}
#scrollbar_atm.disable { display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }


/*css for popup commenting(facebook)*/
.comments_cntnr{width:100%;height: auto;}
.comment_post_box{width:100%;text-align: left;}
.title_image_area{font-weight: bold;font-size: 17px;color:#222;border-bottom: 1px solid #aaa;width:100%; margin-bottom: 20px;min-height: 25px;}
.comments{text-align: left;margin-bottom: 10px;}
.img_popup{cursor: pointer;}
.comment_separator{float: left; width: 1px; background-color: #AAA; min-height: 560px;}
.comment_separator:hover{background-color: #666;}