.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html {
  height: 100%;
}
a {
  font-weight: bold;
  text-decoration: none;
}
h1 {
  color: #BEC5D6;
  font-family: sans-serif;
  text-shadow: 2px 3px 3px #127E7A;
}
.wrap {
  width: 980px; /* fixed width, centered in viewport */
  left: -490px;
  margin-left: 50%;
  position: relative;
}
.wrap > h1 {
  font-size: 2.5em;
  text-align: center;
  padding-bottom: 3px;
}
#showcase {
  width: 100%;
  //visibility: hidden;
}
#showcase img {
  cursor: pointer;
}
footer {
  display: block;
  position: relative;
}
#get {
  font-size: 20px;
  text-align: center;
}
#download {
  margin: 8px auto;
  margin-top: 12px;
  display: block;
}
#license {
  font-size: 18px;
  text-align: center;
  margin: 0;
}
#share {
  position: absolute;
  left: 4px;
}
.fb-like {
  vertical-align: top;
}
.twitter-share-button {
  width: 84px !important;
  margin-left: 8px;
}
#credits {
  color: #c9c9c9;
  text-align: right;
  padding-right: 25px;
  position: absolute;
  right: 0;
}
#credits h1 {
  font-size: 1em;
  margin: 2px auto;
}
#credits ul {
  font-size: 14px;
  list-style-type: none;
  padding-left: 2px;
  margin: 2px 0;
}
a {
    color: #da2020;
  }
  a:hover {
    color: #d6f300;
  }
  .wrap > h1 {
    margin: 26px auto;
  }
  #showcase {
    height: 250px;
    background: #16235e;
    background: -moz-linear-gradient(top, #16235e 0%, #020223 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#16235e), color-stop(100%,#020223)); /* Chrome, Safari4+ */
    background: -webkit-linear-gradient(top, #16235e 0%, #020223 100%); /* Chrome10+, Safari5.1+ */
    background: -o-linear-gradient(top, #16235e 0%, #020223 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #16235e 0%, #020223 100%); /* IE10+ */
    background: linear-gradient(to bottom, #16235e 0%, #020223 100%); /* W3C */
    /*-webkit-box-shadow: 0px 0px 13px 5px #DB1242;
    -moz-box-shadow: 0px 0px 13px 5px #DB1242;
    box-shadow: 0px 0px 13px 5px #DB1242;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;*/
  }
  #item-title {
    color: #F31414;
    font-size: 29px;
    letter-spacing: 0.13em;
    text-shadow: 1px 1px 6px #C72B2B;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 22px;
  }
  #nav {
    text-align: center;
  }
  #nav > button {
    width: 40px;
    height: 25px;
    color: white;
    font: bold 16px arial;
    text-align: center;
    margin: 5px;
    border: 2px solid rgba(245, 245, 241, 1);
    border-radius: 44px;
    background: transparent;
    cursor: pointer;
    transition: 0.3s;
  }
  #nav > button:hover{
    background: #5F84CE;
  }
  #nav > button:active,
  #nav > button.down {
    background: #dfdfdf;
    border: solid 2px rgba(0, 0, 0, 0.6);
    box-shadow: none;
  }
  #share {
    top: -9px;
  }
  #credits {
    top: -15px;
  }
