/*!
 * Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

 body {
    overflow-x: hidden;
 }

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #1c2063;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

/************************************

        Author : SIMBA
        DATE: 2016.11.22
        CONTENT: Custom CSS

************************************/

.sidebar-header{
  position: relative;
  height: 40px;
  margin: 15px 0px 0px 0px;
}

.sidebar-header .nav{
  float: left;
}

.sidebar-header-logo{
  float: right;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar-header-logo:hover{
  opacity: 0.5;
}

.sidebar-header a{
  color: white !important;
}

.sidebar-header .dropdown{
  background: transparent;
}

.sidebar-header .dropdown-menu{
  background: rgba(255,255,255,0.9);
}

.sidebar-header li{
  color: #b34673;
  font-size: 15px;
  text-align: center;
  font-weight: 600;
  cursor: pointer !important;
  transition: 0.5s;
}

.sidebar-header li:hover{
  color: #283488;
}

.sidebar-header-home{
  position: absolute;
  margin: 0;
  top: 50%;
  left: 20%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  float: left;
  color: white;
  font-weight: bold;
}

.sidebar-header-logo{
  float: right;
  margin-right: 20px;
}

.sidebar-form{
  padding: 20px 20px;
}

.input-hero{
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 14px;
  height: 37px;
  width: 30% !important;
  text-align: center;
  background: transparent;
  color: #ffffff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border: 2px solid rgba(245, 245, 241, 0.5);
  outline: none;
  border-radius: 37px;
  padding: 0 10px;
  pointer-events: all;
  -webkit-transition: border .25s ease, width .125s ease .125s;
  transition: border .25s ease, width .125s ease .125s;
}

.input-region{
  width: 30%;
}

.input-city{
  width: 20% !important;
}

.btn-go{
    margin-left: 3%;
    background: transparent;
    text-decoration: none;
    color: #ffffff;
    padding: 3px 20px;
    box-sizing: border-box;
    border: 2px solid rgba(255, 0, 0, 0.8);
    border-radius: 44px;
    font-size: 14px;
    font-weight: 600;
    -webkit-transition: border .125s ease, background .125s ease;
    transition: border .405s ease, background .405s ease;
}

.btn-go:hover{
  background: red;
}

.btn-reset{
  background: transparent;
  text-decoration: none;
  color: #ffffff;
  padding: 3px 20px;
  box-sizing: border-box;
  border: 2px solid rgba(245, 245, 241, 0.5);
  border-radius: 44px;
  font-size: 14px;
  font-weight: 600;
  -webkit-transition: border .125s ease, background .125s ease;
  transition: border .556s ease, background .556s ease;
}

.btn-reset:hover{
  border: 2px solid rgba(245, 245, 241, 1);
  color: black;
  background: rgba(245, 245, 241, 1);
}

.sidebar-refer-panel{
  width: 100%;
  height: 250px;
  margin: 0px;
}

.sidebar-refer-image{
  width: 100%;
  height: 100%;
}

.sidebar-info-panel{
  padding: 0px 40px;
  position: relative;
}

p, h4{
  color: white;
}

p{
  margin-bottom: 0px;
}

.sidebar-info-direction{
  position: absolute;
  width: 40px;
  right: 50px;
  top: -20px;
  text-align: center;
}

.sidebar-info-direction-btn{
    width: 40px;
    height: 40px;
    background : #5F84CE;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 4px 0px 28px #283488;
}

.sidebar-info-direction-btn:hover{
  background: #c7417f;
  box-shadow: 4px 0px 28px #ffffff;
}

.sidebar-info-direction-btn > span{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
}

.sidebar-action-panel{
  height: 40px;
  padding: 20px 20px;
}

.sidebar-action-icon{
  float: right;
  margin-right: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
  background: #5F84CE;
  border-radius: 55px;
  box-shadow: 4px 0px 28px #283488;
  transition: 0.5s;
}

.sidebar-action-icon > i{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.sidebar-action-icon:hover{
  background: #d21776;
  box-shadow: 4px 0px 28px #ff3699;
}

.sidebar-carousel{
  padding-top: 10px;
}

.sidebar-comment{
  padding: 15px;
}


/*///////////////////////////////////////////
//      Style sheet for Main Page        //
///////////////////////////////////////////*/

.sidebar-main-panel{
  width: 100%;
  height: 140px;
  padding: 0px 10px;
}

.sidebar-main-border{
  float: left;
  margin: 20px 17px;
  width: 80px;
  height: 80px;
  padding: 5px;
  border-radius: 55px;
  border-style: solid;
  border-width: 5px;
  border-color: #4b49BD; /* For browsers that do not support gradients */
  border-color: -webkit-linear-gradient(-90deg, red, yellow); /* For Safari 5.1 to 6.0 */
  border-color: -o-linear-gradient(-90deg, red, yellow); /* For Opera 11.1 to 12.0 */
  border-color: -moz-linear-gradient(-90deg, red, yellow); /* For Firefox 3.6 to 15 */
  border-color: linear-gradient(-90deg, red, yellow); /* Standard syntax */
  box-shadow: 0px 0px 11px #ffffff;
  transition: 0.5s;
  cursor: pointer;
}

.sidebar-main-border:hover{
  box-shadow: 0px 0px 30px #ff9999;
}

.sidebar-main-action-icon{
  width: 60px;
  height: 60px;
  position: relative;
  background: #5F84CE;
  border-radius: 55px;
  box-shadow: 4px 0px 28px #283488;
  transition: 0.5s;
}

.sidebar-main-action-icon > i{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.sidebar-title{
  padding-top: 0px;
}

.sidebar-title .jumbotron{
  padding-top: 1px;
    padding-bottom: 20px !important;
  background: transparent;
  width: 96%;
  margin-left: 2%;
  border-radius: 100px;
  box-shadow: 0px 0px 11px #ffffff;
}

.sidebar-title .jumbotron h3{
  text-align: center;
  margin-bottom: 0px;
}

.sidebar-position{
  display: block;
  height: 300px;
  padding-top: 0px;
}

.sidebar-position-border{
  float: left;
  margin: 10px 50px;
  width: 140px;
  height: 140px;
  padding: 5px;
  border-radius: 4px;
  border-style: solid;
  border-width: 5px;
  border-color: #4b49BD; /* For browsers that do not support gradients */
  border-color: -webkit-linear-gradient(-90deg, red, yellow); /* For Safari 5.1 to 6.0 */
  border-color: -o-linear-gradient(-90deg, red, yellow); /* For Opera 11.1 to 12.0 */
  border-color: -moz-linear-gradient(-90deg, red, yellow); /* For Firefox 3.6 to 15 */
  border-color: linear-gradient(-90deg, red, yellow); /* Standard syntax */
  box-shadow: 0px 0px 11px #ffffff;
  transition: 0.5s;
  cursor: pointer;
  position: relative;
}

.sidebar-position-border:hover{
  box-shadow: 0px 0px 30px #ff9999;
}

.sidebar-position-border > span{
  position: absolute;
  left: 3px;
  top: 100px;
}

.sidebar-position-action-icon{
  width: 120px;
  height: 120px;
  position: relative;
  background: #5F84CE;
  border-radius: 4px;
  box-shadow: 4px 0px 28px #283488;
  transition: 0.5s;
}

.sidebar-position-action-icon > i{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.sidebar-incident-title{
  padding-top: 50px;
}

.sidebar-incident-title .jumbotron{
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
  background: transparent;
  width: 96%;
  margin-left: 2%;
  border-radius: 100px;
  box-shadow: 0px 0px 11px #ffffff;
}

.sidebar-title .jumbotron h4{
  float: left;
  margin-bottom: 0px;
}

.sidebar-title .jumbotron span{
  border-radius: 30px;
  background: red;
}

.btn-incident-num{
    margin-left: 3%;
    background: transparent;
    text-decoration: none;
    color: #ffffff;
    padding: 3px 20px;
    box-sizing: border-box;
    border: 2px solid rgba(255, 0, 0, 0.8);
    border-radius: 44px;
    font-size: 14px;
    font-weight: 600;
    -webkit-transition: border .125s ease, background .125s ease;
    transition: border .405s ease, background .405s ease;
}

.btn-incident-num:hover{
  background: red;
}

.sidebar-incident-form{
  margin-top: 100px;
}

.sidebar-incident-form .form-horizontal .form-control{
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 14px;
  height: 40px;
  width: 100% !important;
  text-align: center;
  background: transparent;
  color: #ffffff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border: 2px solid rgba(245, 245, 241, 0.5);
  outline: none;
  border-radius: 37px;
  padding: 0 10px;
  pointer-events: all;
  -webkit-transition: border .25s ease, width .125s ease .125s;
  transition: border .5s ease, width .125s ease .125s;
}

.sidebar-incident-form .form-horizontal .form-control:hover{
}

.sidebar-incident-form .form-horizontal .form-group{
  margin: 25px 0px;
  width: 100%;
  padding: 0px 40px;
}

.sidebar-incident-form .form-horizontal .form-group select{
  text-align: center;
  text-align-last: center;
}

.btn-incident-query{
    margin-left: 3%;
    background: transparent;
    text-decoration: none;
    color: #ffffff;
    padding: 9px 20px;
    box-sizing: border-box;
    border: 2px solid rgba(255, 0, 0, 0.8);
    border-radius: 44px;
    font-size: 14px;
    font-weight: 600;
    -webkit-transition: border .125s ease, background .125s ease;
    transition: border .405s ease, background .405s ease;
}

.btn-incident-query:hover{
  background: red;
}

.btn-incident-reset{
  background: transparent;
  text-decoration: none;
  color: #ffffff;
  padding: 9px 20px;
  box-sizing: border-box;
  border: 2px solid rgba(245, 245, 241, 0.5);
  border-radius: 44px;
  font-size: 14px;
  font-weight: 600;
  -webkit-transition: border .125s ease, background .125s ease;
  transition: border .556s ease, background .556s ease;
}

.btn-incident-reset:hover{
  border: 2px solid rgba(245, 245, 241, 1);
  color: black;
  background: rgba(245, 245, 241, 1);
}

.sidebar-census{
  padding: 20px;
}

.select2-selection{
  background: transparent !important;
  font-family: "Lato", sans-serif !important;
  font-weight: 300 !important;
  font-size: 14px !important;
  width: 100% !important;
  text-align: center !important;
  background: transparent !important;
  color: black !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  border: 0 !important;
  border: 2px solid rgba(245, 245, 241, 0.5) !important;
  outline: none !important;
  border-radius: 37px !important;
  padding: 0 10px !important;
  pointer-events: all !important;
  -webkit-transition: border .25s ease, width .125s ease .125s !important;
  transition: border .5s ease, width .125s ease .125s !important;
}

.select2-selection__choice{
  background: transparent !important;
  text-decoration: none !important;
  color: #ffffff !important;
  padding: 6px 20px !important;
  box-sizing: border-box !important;
  border: 2px solid rgba(245, 245, 241, 0.5) !important;
  border-radius: 44px !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  -webkit-transition: border .125s ease, background .125s ease !important;
  transition: border .556s ease, background .556s ease !important;
}

.select2-selection__choice:hover{
  border: 2px solid rgba(245, 245, 241, 1) !important;
  color: black !important;
  background: rgba(245, 245, 241, 1) !important;
}

.sidebar-filter-group h4{
  text-shadow: 4px 8px 56px #283488;
  cursor: pointer;
}

.checkbox label{
  opacity: 1;
  transition: 0.3s;
}

.checkbox label:hover{
  opacity: 0.5;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered{
  padding: 16px 5px!important;
}

.sidebar-census-filter{
  margin-top: 25px;
}

.btn-contest-compare{
    margin-left: 3%;
    background: transparent;
    text-decoration: none;
    color: #ffffff;
    padding: 9px 80px;
    box-sizing: border-box;
    border: 2px solid rgba(255, 0, 0, 0.8);
    border-radius: 44px;
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 600;
    -webkit-transition: border .125s ease, background .125s ease;
    transition: border .405s ease, background .405s ease;
}

.btn-contest-compare:hover{
  background: #d83c3c;
}

.sidebar-brand-title .jumbotron{
  padding: 10px;
  background: transparent;
  width: 96%;
  margin-left: 2%;
  border-radius: 100px;
  box-shadow: 0px 0px 11px #ffffff;
}

.sidebar-brand-title .jumbotron h3{
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
}

.sidebar-contest{
  text-align: center;
}

.sidebar-contest .checkbox{
  margin-bottom: 30px;
}

.sidebar-contest .checkbox img{
  margin-top: -5px;
}

.selection-group{
  min-height: 140px;
  background: rgba(209, 215, 255, 0.9);
  width: 96%;
  margin-left: 2%;
  border-radius: 20px;
}

.timer_box {
  float: left;
  margin-left: 5px;
  display: inline-block;
  padding: 20px 30px;
  text-align: center;
  /*border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, .6);*/
}

.timer_box h1 {
  font-size: 48px;
  margin-top: 5px;
  margin-bottom: 0px;
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: white;
}


.timer_box p {
  margin-top: 0px;
}

select option{
    color: black;
}

canvas{
  width: 100%;
}

.modal-content{
  background: #6e68a0;
}

.input-bank1{
  float: left;
  width: 23%!important;
  margin-left: 2%;
}

.input-bank2{
  float: left;
  width: 23%!important;
  margin-left: 2%;
}

.input-region{
  float: left;
  width: 23%!important;
  margin-left: 2%;
}

.input-city{
  width: 23%!important;
  margin-left: 2%;
}

.sidebar-modal-title .jumbotron{
  margin-top: 20px;
  padding: 10px;
  background: transparent;
  width: 96%;
  margin-left: 2%;
  border-radius: 100px;
  box-shadow: 0px 0px 11px #ffffff;
}

.sidebar-modal-title .jumbotron h3{
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
}


@media(min-width:768px) {
    #wrapper {
        padding-left: 500px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 500px;
        box-shadow: 4px 0px 28px #283488;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

#carousel .cloud9-item, #buttons button {
  cursor: pointer;
}

