@import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en");
/*
 *
 *   INSPINIA - Responsive Admin Theme
 *   Copyright 2014 Webapplayers.com
 *
*/

.text-success{
        color: #4289BC;    
}

.btn-danger {
    background-color: red;
    border-color: red;
    color: #FFFFFF;
}

.label{
    font-size: 12px;
}

.label-danger, .badge-danger{
    background-color: red;
    color:white;
}
.label-yellow
{
    background-color: yellow;
    color:black;
}
.badge-warning, .label-green{
    background-color: green;
    color:white;
}

.label-grey{
    background-color: grey;
    color:white;
}

.label-warning, .label-orange{
    background-color: orange;
    color:white;
}

.red{
    color:red !important;
}

.gray{
    color:gray !important;
}

.yellow{
    color:yellow !important;
}

.label-red{
    background-color: red;
    color:white;
}

.panel-primary > .panel-heading {
    font-weight: bold;
}
.panel-success {
    border-color: #1c84c6;
}
.panel-success > .panel-heading {
    font-weight: bold;
}

.panel-warning > .panel-heading {
    background-color: orange;
    border-color: orange;
    color: black;
    font-weight: bold;
}

.panel-info > .panel-heading {
    background-color: #1A71A8;
    border-color: #1A71A8;
    color: #ffffff;
    font-weight: bold;
    border-radius: 0px;
}

.panel-info{
        border-color: #1A71A8;
        border-radius: 0px;
}

.panel{
        border-radius: 0px;
}
.progress-bar {
    background-color: red;
    color: white !important;
}

.progress-bar-warning {
    border-color: orange;
}
.progress-bar-danger {
    background-color: red;
}



.panel-orange {
    border-color: orange;
}
.panel-orange > .panel-heading {
    background-color: orange;
    border-color: orange;
    color: #ffffff;
    font-weight: bold;
}


.panel-gray {
    border-color: #D3D3D3;
}
.panel-gray > .panel-heading {
    background-color: #D3D3D3;
    border-color: #D3D3D3;
    color: black;
    font-weight: bold;
}

.panel-info > .panel-heading {
  font-weight: bold;
}

.panel-red {
    border-color: red;
}
.panel-red > .panel-heading {
    background-color: red;
    border-color: red;
    color: #ffffff;
}

.panel-yellow {
    border-color: yellow;
}
.panel-yellow > .panel-heading {
    background-color: yellow;
    border-color: yellow;
    color: black;
    font-weight: bold;
}


.btn-green {
    background-color: green;
    border-color: green;
    color: #FFFFFF;
}
.btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green.active,
.open .dropdown-toggle.btn-green {
    background-color: green;
    border-color: green;
    color: #FFFFFF;
}
.btn-green:active,
.btn-green.active,
.open .dropdown-toggle.btn-green {
    background-image: none;
}
.btn-green.disabled,
.btn-green.disabled:hover,
.btn-green.disabled:focus,
.btn-green.disabled:active,
.btn-green.disabled.active,
.btn-green[disabled],
.btn-green[disabled]:hover,
.btn-green[disabled]:focus,
.btn-green[disabled]:active,
.btn-green.active[disabled],
fieldset[disabled] .btn-green,
fieldset[disabled] .btn-green:hover,
fieldset[disabled] .btn-green:focus,
fieldset[disabled] .btn-green:active,
fieldset[disabled] .btn-green.active {
    background-color: green;
    border-color: green;
}

.sorting div{
    padding-right: 0px !important;
    padding-left:0px !important;
}

.panel-blue {
    border-color: blue;
}
.panel-blue > .panel-heading {
    background-color: blue;
    border-color: blue;
    color: #ffffff;
}

.panel-green {
    border-color: blue;
}
.panel-green > .panel-heading {
    background-color: green;
    border-color: green;
    color: #ffffff;
}


@keyframes blink {
    0% { color: red }
    35% { color:#fff;}
    50% { color:red;}
    100% { color: red; }
}
@-webkit-keyframes blink {
    0% { color: red }
    35% { color: #fff;}
    50% { color:red;}
    100% { color: red; }
}
.blink {
    font-weight: bolder;
    -webkit-animation: blink 0.7s linear infinite;
    -moz-animation: blink 0.7s linear infinite;
    -ms-animation: blink 0.7s linear infinite;
    -o-animation: blink 0.7s linear infinite;
    animation: blink 0.7s linear infinite;
}
@keyframes blink-success {
    0% { color:#fff;}
    40% { color: forestgreen; }
    100% { color: forestgreen; }
}
@-webkit-keyframes blink-success {
    0% { color: #fff;}
    40% { color: forestgreen; }
    100% { color: forestgreen; }
}
.blink-success {
    -webkit-animation: blink-success 0.7s linear infinite;
    -moz-animation: blink-success 0.7s linear infinite;
    -ms-animation: blink-success 0.7s linear infinite;
    -o-animation: blink-success 0.7s linear infinite;
    animation: blink-success 0.7s linear infinite;
}

.map-panel-color{
    color: #ffffff;
    font-size: 1.3em;
}
.modal-header{
    background-color:#1A71A8 !important;
    color: white !important;
}

.custom-modal-header {
    background-color: #1A71A8 !important;
    color: white !important;
    min-height: 16.43px;
    padding: 12px;
}

.label-orange {
    background-color: #FFA500;
    color: #FFFFFF;
}

.lazur-bg {
    background-color: #43A1DA;
    color: #ffffff;
}
.set-user-filed { margin-bottom: 10px; }

.custom-alert-warning { background-color: #D3D3D3 !important; }
.btn-new-design {padding: 6px 2px !important; }
.no-border { border: none; }
.footer-margin { margin-bottom: 50px; }

.carousel .next, .carousel .prev {
    z-index: 9 !important;
}

.popup-header-msg {
    font-size: 18px;
    margin-top: 12px;  
    padding: 1px 0px 7px;
}

.type-checkbox {
    
    margin: 5px 0px;
    
}
