body{ font-family:Arial, Helvetica, sans-serif;  color:#09247a; background-color:#e9e9e9;}
*{margin:0; padding:0;}
a{color:#09247a;}

#wrapper{width: 1123px; height:auto; margin:0 auto;}
#header{width:1123px; height:406px; background:url(../../img/unicharm/unicharm_03.jpg) no-repeat right top;}
#form_area{width:600px; height:380px; padding-left:40px; padding-top:26px;}
#logo{ background:url(../../img/unicharm/unicharm_06.jpg) no-repeat left top; height:73px;}
#form_area h2{ margin:34px 0 0 0; font-size:26px;}
#form1{width:435px; margin:24px 0 0 62px;}
#left_fields{height:31px; width:200px; float:left; margin:0 0 10px 0; color:#868686; border:solid #f3f3f3 1px; padding:0 0 0 10px;}
#right_fields{height:31px; width:200px; float:right; margin:0 0 10px 0; color:#868686; border:solid #f3f3f3 1px; padding:0 0 0 10px;}
#clear{ clear:both;}
#main_content{width:1063px; background:#afdfdf; padding:30px; height:500px;}
#text_english{ font-size:16px; text-align:justify; font-weight:bold;}
#text_arabic{direction:rtl; font-size:20px; text-align:justify; font-weight:bold;}
#main_content ul{ margin:30px 0 0 0;}
#main_content li{ float:left; list-style:none; float:left; padding-right:13px; text-align:center;}
#main_content li p{font-weight:bold; font-size:15px; margin:10px 0 0 0;}
#footer1{ font-size:12px; font-weight:bold; line-height:20px; padding:15px 0 20px 0; width:550px; float:left;}
#footer2{ font-size:12px; font-weight:bold; line-height:20px; padding:50px 0 0 0; width:450px; float:right; text-align:right;}